*{
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    color:#6b2a7d !important;
    background-color:white !important;
    box-shadow: 1px 1px 20px 0 rgb(106, 41, 124);
}
.btn{
    border-radius:100px;
    background-color:#6b2a7d;
    color:white;
    margin: 3px;
}
.btn_black:hover{
    color:black !important;
    background-color:white !important;
    box-shadow: 1px 1px 20px 0 rgb(0, 0, 0);
}
.btn_black{
    border-radius:100px;
    background-color:black;
    color:white;
    margin: 3px;
}
.forgot_link{
    text-decoration: none;
    float: right;
    color:rgb(43, 43, 43);
    margin-bottom: 20px;
}
.form-control:focus{
    box-shadow:none !important;
    border-color: none !important;
}
.danger{
    color:red;
}

.btntext{
    display: inline-block;
    padding-left: 10px;
}
.icon_header{
    font-size: 25px;
    padding-right: 15px;
}
.link_text{
 display: inline-block;
 padding-left: 15px;
}
@media screen and (max-width: 767px) {
    .btntext{
        display: none;
    }
    .icon_header{
        font-size: 25px;
        padding-right: 0px;
    }
    .link_text{
        display: none;
    }
}
.custom-file-label::after {
    content: "What's up?";
  }
.hkULGy{
    display: none !important;
}